<div class="row">
    <!--your profile stats-->
 <div class="col-sm-8">
{{!-- {{#each users as |user|}}
{{user.name}}'s Profile
{{/each}} --}}
<!-- stats table -->
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> Highscore </th>
      <th scope="col"> Times Played </th>
      <th scope="col"> Coins </th>
      <th scope="col"> Current Skin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 100<!-- {{highscore}}--></th>
      <td> 2<!-- {{timesplayed}}--></td>
      <td> 500<!-- {{coins}}--></td>
      <td> pic <!-- {{currentskin}}--></td>
    </tr>
  </tbody>
</table>
</div>
 
 <!--friends request-->
<div>
  <h1>Friend Request</h2>
  <div>
    <h2>Send Friend Request</h2>
      <form id="send-request-form">
        <div>
          <label for="receiver-username">Receiver's Username:</label>
          <input type="text" class="form-control" id="receiver-id" name="receiverUsername" required>
          <button type="submit" class="btn btn-primary">Send Request</button>
        </div>
      </form>
  </div>
  <div>
    <h2>View Friend Requests</h2>
      <ul id="friend-request"></ul>
  </div>
</div>

 <!--friends stats-->
<div class="col-sm-4">
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> Friend's Username </th>
      <th scope="col">Highscore </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> 

        <!--below code needs to be edited for friend username-->
        {{#each users as |user|}}
        {{user.name}}
        {{/each}}

      
      </th>
      <td> 2<!-- {{friendhighscore}}--></td>
    </tr>
  </tbody>
</table>
</div>

</div>